* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Georgia;
    color: #222;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 120px;
    border: 1px solid #ccc;
    text-align: center;
}

h1 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.subtitle {
    color: blue;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
}

#mission-text {
    margin-bottom: 20px;
}

hr {
    margin: 0 auto 30px auto;
}

p {
    text-align: left;
    line-height: 1.6;
    font-size: 14px;
}

.italic {
    font-style: italic;
    margin-bottom: 15px;
}

ol {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}

ol li {
    margin-bottom: 15px;
    font-size: 14px;
}

.logo {
    width: 160px;
    margin-top: 20px;
}
