@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
}

nav {
  display: none;
}

nav.active {
  display: block;
}

nav a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid black;
}

nav a:hover {
  color: #5c5c5c;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


@media screen and (min-width: 700px) {
    
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  nav.active {
    display: flex;
  }

  nav a {
    display: inline-flex;
    border-bottom: none;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
