h1 {
    text-align: center;
}

h2 {
    padding-left: 40px;
    color: rgb(180, 0, 0);
}

nav {
    text-align: right;
    color: red;
    border-top: 2px solid tan;
    border-bottom: 2px solid tan;
}

.main-nav ul {
    white-space: nowrap;
    overflow-x: auto;
}

.main-nav li {
    display: inline-block;
    padding: 8px;
}

.main-nav a {
    color: rgb(180, 0, 0);
    text-decoration: none;
}

article p {
    text-align: right;
}

article #desc {
    text-align: left;
    padding-left: 40px;
}

article img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

footer p {
    text-align: center;
    border-top: 2px solid tan;
    padding-top: 15px;
}


@media (min-width: 600px) {
    .movie {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    article p {
        grid-column: 1/2;
        margin-right: 30px;
    }

    article #desc {
        grid-column: 2/3;
        grid-row: 8/9;
        margin-left: 30px;
    }

    h2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    article img {
        grid-column: 2/3;
    }

    #about {
        grid-row: 2/3;
        border-right: 2px solid tan;
    }
}