* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  color: #000;
}

header {
  background-color: #4a80d8;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav {
  text-align: center;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-links {
  display: none;
}


.nav-links a {
  color: white;
  font-size: 1.1rem;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}


main {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #eee;
}

main h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}


footer {
  background-color: #4a80d8;
  color: white;
  text-align: center;
  padding: 0.75rem;
  margin-top: 1rem;
}




.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-img {
  width: 90%;
  display: block;
  margin: 20vh auto;
  border: none;
}


.close {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 6px;
  font-size: 1.5em;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}



@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-links {
    display: none;
    list-style: none;
  }
}

@media (min-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
  }
}
